<div class="main-body">
    <div class="comments-section">
        <div class="comments-header">
            <span class="comments-header-left">
                {{!-- <img class="comments-icon" src="../src/icons/comments.png" alt="comments icon"> --}}
                <h1>5 Comments</h1>
            </span>
            <span class="comments-header-right">    
                <p class="comments-header-right-sort">Sort</p>
                <button>like</button>
            <span>    
        </div>        
        <div class="comments-body">
           <div class="row comments-body-header">
                <div class="comments-left">
                  <span class="bold-text">User Name</span>
                </div>
                <div class="comments-right-section">
                    12 likes
                </div>
           </div>
           <div class="row comments-text">
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi veritatis quis ad repellendus. Doloribus hic animi recusandae facilis cumque vel praesentium voluptate ratione, quo eveniet, cupiditate, voluptatem quae asperiores perspiciatis? Ipsa maiores id suscipit expedita ea. Reprehenderit blanditiis aliquam ex adipisci ipsa qui illo molestias temporibus odit, beatae voluptates dolores.
            </div>

        </div>

         <div class="comments-body">
           <div class="row comments-body-header">
                <div class="comments-left">
                  <span class="bold-text">User Name</span>
                </div>
                <div class="comments-right-section">
                    12 likes
                </div>
           </div>
           <div class="row comments-text">
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi veritatis quis ad repellendus. Doloribus hic animi recusandae facilis cumque vel praesentium voluptate ratione, quo eveniet, cupiditate, voluptatem quae asperiores perspiciatis? Ipsa maiores id suscipit expedita ea. Reprehenderit blanditiis aliquam ex adipisci ipsa qui illo molestias temporibus odit, beatae voluptates dolores.
            </div>

        </div>

         <div class="comments-body">
           <div class="row comments-body-header">
                <div class="comments-left">
                  <span class="bold-text">User Name</span>
                </div>
                <div class="comments-right-section">
                    12 likes
                </div>
           </div>
           <div class="row comments-text">
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi veritatis quis ad repellendus. Doloribus hic animi recusandae facilis cumque vel praesentium voluptate ratione, quo eveniet, cupiditate, voluptatem quae asperiores perspiciatis? Ipsa maiores id suscipit expedita ea. Reprehenderit blanditiis aliquam ex adipisci ipsa qui illo molestias temporibus odit, beatae voluptates dolores.
            </div>

        </div>

         <div class="comments-body">
           <div class="row comments-body-header">
                <div class="comments-left">
                  <span class="bold-text">User Name</span>
                </div>
                <div class="comments-right-section">
                    12 likes
                </div>
           </div>
           <div class="row comments-text">
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi veritatis quis ad repellendus. Doloribus hic animi recusandae facilis cumque vel praesentium voluptate ratione, quo eveniet, cupiditate, voluptatem quae asperiores perspiciatis? Ipsa maiores id suscipit expedita ea. Reprehenderit blanditiis aliquam ex adipisci ipsa qui illo molestias temporibus odit, beatae voluptates dolores.
            </div>

        </div>

         <div class="comments-body">
           <div class="row comments-body-header">
                <div class="comments-left">
                  <span class="bold-text">User Name</span>
                </div>
                <div class="comments-right-section">
                    12 likes
                </div>
           </div>
           <div class="row comments-text">
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi veritatis quis ad repellendus. Doloribus hic animi recusandae facilis cumque vel praesentium voluptate ratione, quo eveniet, cupiditate, voluptatem quae asperiores perspiciatis? Ipsa maiores id suscipit expedita ea. Reprehenderit blanditiis aliquam ex adipisci ipsa qui illo molestias temporibus odit, beatae voluptates dolores.
            </div>

        </div>
    </div>    
</div>
